[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pulumi = "==1.4.0"
pulumi-aws = "==1.7.0"
ansible = "==2.9.1"
awscli = "==1.16.285"
testinfra = "==3.2.1"
boto3 = "==1.10.20"

[requires]
python_version = "3.7"
