[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pulumi = "==1.9.1"
pulumi-aws = "==1.20.0"
ansible = "==2.9.4"
awscli = "==1.16.314"
testinfra = "==4.0.0"
boto3 = "==1.10.50"

[requires]
python_version = "3.7"
