[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pulumi = "==2.21.2"
pulumi-aws = "==3.31.0"
ansible = "==3.2.0"
awscli = "==1.19.19"
testinfra = "==5.3.1"
boto3 = "==1.17.19"

[requires]
python_version = "3.9"
